body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#particles-js {
    background-color: #e74c3c; /* Replace with your desired red background color */
    height: 100vh;
    position: absolute;
    width: 100%;
    z-index: -1; /* Set a lower z-index */
}
.container {
    text-align: center;
    background-color: rgb(111, 214, 177);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"] {
    padding: 8px;
    width: 60%;
    margin-right: 5px;
}
input[type="datetime-local"] {
    padding: 8px;
    margin-right: 5px;
}

button {
    padding: 8px;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #4f9f1a;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.completed {
    text-decoration: line-through;
    color: #999;
}
